<div class="modal  fade" id="new_ordre" tabindex="-1" role="dialog" aria-labelledby="new_ordre-label" aria-hidden="true">
    <div class=" modal-fullscreen modal-dialog mt-6" role="document">
        <div class="modal-content border-0">
            <div class="modal-header px-5 position-relative modal-shape-header">
                <div class="position-relative z-index-1 light">
                    <h4 class="mb-0" id="new_ordre-label">Ajouter une nouvelle commande</h4>

                </div><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-4 px-5">

                <section class="row">
                    <div class="container-xl d-flex justify-content-between">

                        <div class="tab menu-list-tab col-8">
                            <ul class="tabs">
                                <li>
                                    <a href="#">

                                        <span>Burgers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <span>Poulet</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <span>Pizzas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <span>Boisson</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <span>Café</span>
                                    </a>
                                </li>

                            </ul>

                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">


                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Burger Bros</h3>

                                                    <span>600,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">


                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Burger Bistro</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Burger Bistro</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Rockin' Burgers</h3>

                                                    <span>200,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">


                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Burger Bros</h3>

                                                    <span>400,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Bruce's Burgers</h3>

                                                    <span>300,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Rockin' Burgers</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Bruce's Burgers</h3>

                                                    <span>500,00 da</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- - -->
                                <div class="tabs_item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Burger Bros</h3>

                                                    <span>600,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Al Pesto</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Tartufata</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Fiori Di Zucca</h3>

                                                    <span>200,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Campagnola</h3>

                                                    <span>400,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Mediterranea</h3>

                                                    <span>300,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Vegetariana</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Boscaiola</h3>

                                                    <span>500,00 da</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- --- -->
                                <div class="tabs_item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Quattro Stagioni</h3>

                                                    <span>600,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">
                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Al Pesto</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Tartufata</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Fiori Di Zucca</h3>

                                                    <span>200,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Campagnola</h3>

                                                    <span>400,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">
                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Mediterranea</h3>

                                                    <span>300,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">
                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Vegetariana</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Boscaiola</h3>

                                                    <span>500,00 da</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Quattro Stagioni</h3>

                                                    <span>600,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">
                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Al Pesto</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Tartufata</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Fiori Di Zucca</h3>

                                                    <span>200,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Campagnola</h3>

                                                    <span>400,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Mediterranea</h3>

                                                    <span>300,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Vegetariana</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Boscaiola</h3>

                                                    <span>500,00 da</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Quattro Stagioni</h3>

                                                    <span>600,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">
                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Al Pesto</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Pizza Tartufata</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Fiori Di Zucca</h3>

                                                    <span>200,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Campagnola</h3>

                                                    <span>400,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Mediterranea</h3>

                                                    <span>300,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Vegetariana</h3>

                                                    <span>450,00 da</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-6">
                                            <div class="pizza-shop-item">
                                                <div class="image">

                                                    <div class="pizza-btn">
                                                        <a href="#" class="default-btn">
                                                            Commander
                                                            <i class="flaticon-play-button"></i>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>Boscaiola</h3>

                                                    <span>500,00 da</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4" style="margin-left: 2%;">
                            <div class="welcome-content">
                                <span>Votre commande</span>

                            </div>
                            <form>
                                <div class="cart-table table-responsive scrollbar"
                                     style="max-height: 280px; font-size: 14px;">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">Produit</th>
                                            <th scope="col">Prix Unit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="product-name">
                                                Burger Bistro
                                            </td>
                                            <td class="product-price">
                                                <span class="unit-amount">500,00 da</span>
                                            </td>
                                            <td class="product-subtotal">
                                                <button class="btn-light remove" style="font-size: 20px">
                                                    <i class='bx bx-trash'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td class="product-name">
                                                <a href="#">Hot Cross Buns</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="unit-amount">450,00 da</span>
                                            </td>
                                            <td class="product-subtotal">
                                                <button class="btn-light remove" style="font-size: 20px">
                                                    <i class='bx bx-trash'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product-name">
                                                <a href="#">We Love Beef</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="unit-amount">450,00 da</span>
                                            </td>
                                            <td class="product-subtotal">
                                                <button class="btn-light remove" style="font-size: 20px">
                                                    <i class='bx bx-trash'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td class="product-name">
                                                <a href="#">Dungeon Burgers</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="unit-amount">500,00 da</span>
                                            </td>
                                            <td class="product-subtotal">
                                                <button class="btn-light remove" style="font-size: 20px">
                                                    <i class='bx bx-trash'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="cart-buttons">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                                            <a href="#" class="btn btn-success btn-lg" type="submit">Confirmer</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart-totals">
                                    <h1 class="text-center" style="font-size: 80px;">N°40</h1>
                                    <ul>

                                        <li class="d-flex  justify-content-between">
                                            <h2>Total :</h2>
                                            <span>
                                                <h1>1 900,00 da</h1>
                                            </span>
                                        </li>
                                    </ul>
                                    <!-- <a href="#" class="default-btn">
                                            Proceed to Checkout
                                            <span></span>
                                        </a> -->
                                </div>
                            </form>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>
</div>
