<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/handout/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Jul 2022 08:50:16 GMT -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="/assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/assets/css/nice-select.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="/assets/css/odometer.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Dark CSS -->
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/mystyle.css">
    <!-- Dark CSS -->
    <link rel="stylesheet" href="/assets/css/dark.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <title>Dreamgames Home</title>

    <link rel="icon" type="image/ico" href="/assets/img/icon.ico">
</head>

<body class="bg-black" style="max-height: 100vh;">

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- End Preloader Area -->




    <!-- Start Main Slider Area -->
    <div class="main-slider-area" >
        <div class="home-slider owl-carousel owl-theme">
            <div class="home-item item-bg2 bg-black">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-lg-12 d-flex justify-content-center mb-5 mt-5">

                                    <div class="card bg-black">
                                        <div class="card-title mb-5">
                                            <div class="col-12 d-flex justify-content-center">
                                                <img src="assets/img/logo.png" alt="" style="width: 180px;">
                                            </div>
                                           
                                            <h1 class="text-white text-center" style="font-size: 5rem;"> bienvenue chez 
                                                
                                               
                                                <span  style="color: #304eff; font-style: oblique;">Dreamgames</span> </h1>
                                        

                                        </div>
                                        <div class="card-body d-flex justify-content-center">
                                            <a class="fancy" href="/order/new">
                                                <span class="top-key"></span>
                                                <span class="text">Nouvelle Commande</span>
                                                <span class="bottom-key-1"></span>
                                                <span class="bottom-key-2"></span>
                                              </a>
                                        </div>
                                    </div>
                                </div>

                             <!--    <div class="col-lg-12  d-flex justify-content-center mt-5 " style="padding: 5%;">
                                    <div class="card-home">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="card-home-inner"><img src="/assets/img/logo.png" alt="image" width="280"></div>
                                    </div>

                                </div> -->

                            </div>
                            <div class="menu-shape">
                                <div class="shape1">
                                    <img src="/assets/img/image-icon/1.png" alt="image">
                                </div>
                                <div class="shape2">
                                    <img src="/assets/img/image-icon/6.png" alt="image">
                                </div>
                                <div class="shape3">
                                    <img src="/assets/img/image-icon/7.png" alt="image">
                                </div>
                                <div class="shape4">
                                    <img src="/assets/img/image-icon/3.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer ondblclick="window.close()">
        <p class="text-white text-center">Réaliser par BLACK CONCEPT. Copyright 2024</p>
        <p class="text-white text-center">0555 73 97 81 - 0559 76 42 80</p>
    </footer>
    <!-- End Main Slider Area -->
    <!-- Jquery Slim JS -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="/assets/js/jquery.meanmenu.js"></script>
    <!-- Carousel JS -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <!-- Odometer JS -->
    <script src="/assets/js/odometer.min.js"></script>
    <!-- Appear JS -->
    <script src="/assets/js/jquery.appear.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="/assets/js/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/main.js"></script>
</body>

<!-- Mirrored from templates.envytheme.com/handout/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Jul 2022 08:50:50 GMT -->

</html>
