
<!doctype html>
<html lang="zxx">
    
<!-- Mirrored from templates.envytheme.com/handout/default/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Jul 2022 08:51:14 GMT -->
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate CSS --> 
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <!-- Carousel CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Carousel Default CSS -->
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <!-- Odometer CSS -->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Dark CSS -->
        <link rel="stylesheet" href="assets/css/dark.css">
        <!-- Responsive CSS -->
		<link rel="stylesheet" href="assets/css/responsive.css">
		
		<title>Dreamgames</title>

        <link rel="icon" type="image/ico" href="assets/img/logo.png">
    </head>

    <body class="bg-black">

        <!-- Start Preloader Area -->
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
        <!-- End Preloader Area --> 

        <!-- Start Sign In Area -->
        <div class="sign-in-area ptb-100 ">
            <div class="container">
                <div class="sign-in-form bg-black">
                    <div class="sign-in-title">
                        <img src="assets/img/logo.png" alt="" width="200">
                        <!-- <h3>Bienvenue !</h3> -->
                        <!-- <p>Connectez-vous</p> -->
                    </div>
                        
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control text-white"  name="singin_username" placeholder="Utilisateur">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="password" class="form-control text-white"  name="singin_password" placeholder="Mot de passe">
                                </div>
                            </div>

                            <% if (err == 1) {%>
                              <div class="form-control-colorm-c"><p class="text-danger bold"> Erreur d'informations !</p></div>
                            <%}%>
                            <div class="col-lg-12">
                                <div class="send-btn">
                                    <button type="submit" class="default-btn">
                                        Connecter
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Sign In Area -->

        <!-- Start Footer Area -->
        <section class="footer-area">
            <div class="footer-bottom-area">
                <div class="container">
                    <p>
                        Copyright @<script>document.write(new Date().getFullYear()) </script> Dreamgames.  Réaliser par
                        <a href="https://www.blackconcept-dev.com/" target="_blank">
                            Black Concept Sarl
                        </a>
                    </p>

                    <ul class="social">
                        <li class="facebook">
                            <a href="https://www.facebook.com/BlackConcept.dev" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="https://www.linkedin.com/company/blackconcept" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="https://www.instagram.com/blackconcept.dev/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="https://www.youtube.com/channel/UC1MhtVqzsgoA4I5eT_QH2KA/channels" target="_blank">
                                <i class='bx bxl-youtube'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

          
        </section>
        <!-- End Footer Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="bx bx-chevron-up"></i>
            <i class="bx bx-chevron-up"></i>
        </div>
        <!-- End Go Top Area -->

        <!-- Jquery Slim JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Odometer JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Appear JS -->
        <script src="assets/js/jquery.appear.js"></script>
        <!-- Form Ajaxchimp JS -->
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script src="assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Wow JS -->
		<script src="assets/js/wow.min.js"></script>
        <!-- Custom JS -->
        <script src="assets/js/main.js"></script>
    </body>

<!-- Mirrored from templates.envytheme.com/handout/default/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Jul 2022 08:51:14 GMT -->
</html>





